/***** HEADER CSS NOT REQUIRED FOR DEMO *****/

#safe-ribbon a{
  z-index: 2000;
  background:#E98300;
  color:#fff;
  text-decoration:none;
  font-family:arial, sans-serif;
  text-align:center;
  font-weight:bold;
  padding:5px 40px;
  font-size:1rem;
  line-height:2rem;
  position:relative;
  transition:0.5s;
}

#safe-ribbon a:hover{
  background:#DA7B00;
  color:#fff;
}


#safe-ribbon a::before,#safe-ribbon a::after{
  content:"";
  width:100%;
  display:block;
  position:absolute;
  top:1px;
  left:0;
  height:1px;
  background:#ffffff;
}

#safe-ribbon a::after{
  bottom:1px;
  top:auto;
}

@media screen and (min-width:767px){
  #safe-ribbon{
    position:absolute;
    display:block;
    top:0;
    right:0;
    width:200px;
    overflow:hidden;
    height:200px;
  }
  #safe-ribbon a{
    width:200px;
    position:absolute;
    top:60px;
    right:-60px;
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    box-shadow:0px 1px 4px rgba(0,0,0,0.8);
  }
}


body {
  padding-top: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: verdana;
}

@media (max-width: 980px) {
  body{
    padding-top: 0;
  }
}

.brand{
  color: #ffffff !important;
  font-weight: 300 !important;
  text-shadow: none !important;
}


.navbar-inner {
  background-color: #7AB800;
  background-image: none;
}

/**** End of Header CSS ****/

/* make container, and thus map, 100% width */
.container {
	width: 100%;
}