/***** HEADER CSS NOT REQUIRED FOR DEMO *****/
#safe-ribbon {
	position: relative;
	display: block;
	float:right;
	margin-bottom: -2rem;
	height: 2rem;
	z-index: 2000;
}

#safe-ribbon a{
  background:#E98300;
  color:#fff;
  text-decoration:none;
  font-family:arial, sans-serif;
  text-align:center;
  font-weight:bold;
  padding: 0 5px;
  font-size:1rem;
  line-height:2rem;
  transition: background 0.5s;
  display: block;
}

#safe-ribbon a:hover{
  background:#DA7B00;
  color:#fff;
}

#safe-ribbon a::before,#safe-ribbon a::after{
  content:"";
  width:100%;
  display:block;
  position:absolute;
  top:1px;
  left:0;
  height:1px;
  background:#ffffff;
}

#safe-ribbon a::after{
  bottom:1px;
  top:auto;
}

@media screen and (min-width:979px){
  #safe-ribbon{
    position:absolute;
    display:block;
    top:0;
    right:0;
    width:200px;
    overflow:hidden;
    height:200px;
  }
  #safe-ribbon a{
    width:200px;
    position:absolute;
    top:60px;
    right:-60px;
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    box-shadow:0px 1px 4px rgba(0,0,0,0.8);
    padding: 5px 40px;
  }
}


body {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  font-family: verdana;
  padding-top: 40px;
}

.brand{
  color: #ffffff !important;
  font-weight: 300 !important;
  text-shadow: none !important;
}

@media screen and (max-width: 300px) {
	.hidden-tiny {
		display: none;
	}
}

.navbar {
	margin:0;
	position: fixed;
}

.navbar-inner {
  background-color: #7AB800;
  background-image: none;
}

.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
	padding: 0;

}

.nav-collapse.in.collapse {
	padding-bottom: 5px;
}

/**** End of Header CSS ****/

/* make container, and thus map, 100% width */
.container {
	width: 100%;
	height: 100%;
}

#map_canvas{
  height:100%;
}

#count-badges {
  font-size: 75%;
  position: absolute;
  bottom: 25px;
  right: 10px;
  background-color: rgba(255,255,255,0.75);
  padding: 5px 10px;
}

#count-badges .badge {
  font-size: 75%;
}